@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono";
}

/* header section */
nav {
  width: 80%;
  max-width: 1520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px auto;
}
nav > p {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
}
nav > button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  background-color: transparent;
}
.hero-banner {
  max-width: 1920px;
  background-image: url("./assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.hero-content {
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.hero-content > h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 35px;
}
.hero-content > p {
  width: 90%;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 45px;
  text-align: center;
  opacity: 0.7;
}
.hero-content > a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 21px 24px 21px 24px;
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  text-decoration: none;
  cursor: pointer;
}

/* main section */
main {
  width: 80%;
  max-width: 1520px;
  margin: 0 auto;
}

/* Why Web Development section */
.why-web-dev {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 100px 120px;
}
.why-web-dev > h1 {
  width: 90%;
  max-width: 1130px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.why-web-dev > p {
  width: 90%;
  max-width: 1130px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
  margin: 0 auto;
  margin-bottom: 65px;
}
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.common-card-container-style {
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  padding: 60px;
}
.common-card-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-2 {
  flex-direction: row-reverse;
}
.common-card-style > div {
  width: 60%;
  max-width: 630px;
}
.common-card-style > div > h2 {
  width: 80%;
  max-width: 520px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin-bottom: 20px;
}
.common-card-style > div > p {
  width: 80%;
  max-width: 520px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 40px;
  opacity: 0.7;
}
.common-card-style > div > a {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 16px 25px;
  cursor: pointer;
  text-decoration: none;
}

/* inspiration section */
.inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
.inspiration > h2 {
  width: 90%;
  max-width: 1130px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 30px;
}
.inspiration > p {
  width: 90%;
  max-width: 1130px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 65px;
  opacity: 0.7;
}
.inspiration > div {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 45px;
}
.inspiration > div > iframe {
  width: 100%;
  height: 730px;
  border-radius: 16px;
}

/* target section */
.current-target > h2 {
  width: 90%;
  max-width: 1130px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.current-target > p {
  width: 90%;
  max-width: 1130px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 65px;
  opacity: 0.7;
}
.target-class-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 145px;
}
.target-card-1 {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.target-card-2 {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.target-card-3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.target-cards-content {
  max-width: 380px;
  padding: 55px;
}
.target-cards-content > h3 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
}
.target-cards-content > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 30px;
  opacity: 0.7;
}
.target-cards-content > a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
}
.next-target-header {
  width: 90%;
  max-width: 1130px;
  margin: 0 auto;
  margin-bottom: 65px;
}
.next-target-header > h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 30px;
}
.next-target-header > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}
.next-target-cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.next-target-card {
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 50px;
}
.next-target-card > img {
  margin-right: 30px;
}
.next-target-card > div > h3 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  margin-bottom: 10px;
}
.next-target-card > div > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 30px;
  opacity: 0.7;
}
.next-target-card > div > a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
  cursor: pointer;
}

